._btn {
    border: none !important;
    background: none;
    font-size: 17px;
    margin: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    line-height: 1px !important;
}

table tr td {
    padding: 5px !important;
}