._btn {
    border: none !important;
    background: none;
    font-size: 17px;
    margin: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    line-height: 1px !important;
}

.page-title-box {
    padding-bottom: 0rem;
}

.page-content {
    padding: 0.75rem 0.75rem var(--taplox-footer-height) 0.75rem;
}

.card-body {
    padding: 0.75rem 0.75rem;
}

.card-header {
    padding: 0.75rem var(--taplox-card-cap-padding-x);
}

.card-title {
    margin-top: 10px;
}


table tbody tr td, table tr td {
    padding: 4px 5px !important;
}